name: RELEASE

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.6

      - name: Build binary
        run: go build

      - name: Merge JSONL
        run: ./reskk-dictionary merge --output reskk-dictionary.jsonl

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: ./reskk-dictionary.jsonl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
